body {
    margin: 60px auto;
    width: 70%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    padding: 0px;
    list-style: none;
    /* font-weight: bold; */
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
    padding: 0px;
    list-style: none;
    /* font-weight: bold; */
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*
input, label {
    display:block;
}
*/


  h4 {
    color: #668944;
    margin-left: 20px;
  }
  label {
    width: 100px;
    margin: 5px 0;
    display: inline-block;
    vertical-align: top;
  }
  input, textarea, .recaptcha, button {
    margin: 5px 0;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;

    &:focus {
      outline-color: @accent-color;
    }
  }
  input.field, textarea {
    min-width: 330px;
  }
  input[name=subject], textarea {
    width: 73%;
  }
  textarea {
    height: 150px;
  }
  button {
    border: 0;
    background-color: @accent-color;
    padding: 8px 20px;
    color: #fff;
    margin-top: 20px;

    &:hover {
      background-color: darken(@accent-color, 10%);
      color: darken(#fff, 10%);
    }
  }
  .notice {
    display: none;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    color: #a94442;
    margin-top: 15px;
  }
  .recaptcha {
    padding: 0;
    display: inline-block;

    div.image {
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      padding: 10px;
      background-color: #fff;
      width: 320px;

      br {
        display: none;
      }
      embed, span {
        float: left;
        clear: both;
        a {
          cursor: pointer;
          font-size: 0.9em;
        }
      }
    }

    div.headline {
      padding: 5px 5px 0 10px;
    }

    input[type=text] {
      margin: 10px;
    }
  }


